body{
    margin:0;
    padding:0;
    background:#000;
    font-family:Arial,sans-serif;
    text-align:center;
    color:white;
}

.card{
    width:100%;
    margin:0;
    padding:0;
}

.card img:first-child{
    width:100%;
    display:block;
}

button{
    display:block;
    width:100vw;
    margin:0;
    padding:20px 0;
    background:#00c853;
    color:#fff;
    font-size:30px;
    font-weight:bold;
    border:none;
    cursor:pointer;
}

button:hover{
    background:#00e676;
}

footer{
    margin-top:20px;
    color:white;
}
